In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/ny_statewide_2020_04_01.csv')

/Users/elliotmacy/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7962169 entries, 0 to 7962168
Data columns (total 19 columns):
raw_row_number                int64
date                          object
time                          object
location                      object
county_name                   object
subject_age                   float64
subject_race                  object
subject_sex                   object
type                          object
violation                     object
speed                         float64
posted_speed                  float64
vehicle_color                 object
vehicle_make                  object
vehicle_model                 object
vehicle_type                  object
vehicle_registration_state    object
vehicle_year                  float64
raw_RACE                      object
dtypes: float64(4), int64(1), object(14)
memory usage: 1.1+ GB

In [4]:
df.head()

,raw_row_number,date,time,location,county_name,subject_age,subject_race,subject_sex,type,violation,speed,posted_speed,vehicle_color,vehicle_make,vehicle_model,vehicle_type,vehicle_registration_state,vehicle_year,raw_RACE
0,1,2010-10-05,17:01:00,PALISADES PARKWAY SB|PIPK|9 - PARKWAY,Rockland County,25.0,white,male,vehicular,NO FRONT PLATE DISPLAY,NaN,NaN,gl - gold,chev,NaN,1 - passenger,NY,2000.0,- - WHITE
1,2,2010-01-19,14:51:00,ST-16|16|2 - STATE,Cattaraugus County,54.0,white,male,vehicular,EXPIRED INSPECTION 12/31/09,NaN,NaN,wh - white,intl,NaN,6 - truck/tractor,NY,2004.0,- - WHITE
2,3,2010-02-12,10:33:00,TAMARAC ROAD S/B|129|3 - COUNTY,Rensselaer County,21.0,white,male,vehicular,UNINSPECTED MOTOR VEHICLE,NaN,NaN,bl - blue,suba,NaN,1 - passenger,NY,2008.0,- - WHITE
3,4,2010-04-19,20:36:00,I-87|87|1 - INTERSTATE,Albany County,25.0,white,male,vehicular,UNREGISTERED MOTOR VEHICLE,NaN,NaN,bk - black,toyt,NaN,1 - passenger,NY,2005.0,- - WHITE
4,5,2010-07-10,13:53:00,WILDER ST / I-490 E|490|1 - INTERSTATE,Monroe County,69.0,black,male,vehicular,UNINSPECTED MOTOR VEHICLE,NaN,NaN,rd - red,niss,NaN,1 - passenger,NY,2008.0,- - BLACK

In [10]:
df.date.min(), df.date.max()

('2010-01-01', '2017-12-14')

In [11]:
df.county_name.value_counts()

Erie County           469716
Orange County         462318
Westchester County    373992
Monroe County         336879
Nassau County         312585
                       ...
Yates County           14676
Kings County           12356
Bronx County           10827
Richmond County         5014
St-17 County               1
Name: county_name, Length: 63, dtype: int64

In [13]:
df.subject_race.value_counts()

white                     5926237
black                      888696
hispanic                   553552
other                      315590
asian/pacific islander     278075
Name: subject_race, dtype: int64

In [15]:
df.subject_sex.value_counts()

male      5454829
female    2505383
Name: subject_sex, dtype: int64

In [17]:
df.vehicle_type.value_counts()

1 - passenger              6789930
p - pick-up truck           503305
5 - truck                   225680
6 - truck/tractor           161972
v - van                     154155
3 - motorcycle               56086
9 - all others               46090
a - all terrain vehicle       9120
2 - bus                       5087
0 - no vehicle                4233
7 - recreation vehicle        3994
4 - moped                     1068
8 - farm vehicle               848
b - bicycle                    563
Name: vehicle_type, dtype: int64

In [20]:
df.violation.value_counts()

SPEED IN ZONE                                        1524591
SPEED OVER 55 ZONE                                   1017601
NO SEAT BELT                                          381403
UNLICENSED OPERATOR                                   312975
UNINSPECTED MOTOR VEHICLE                             268084
                                                      ...
IMPROPER WIPERS/UNAUTHORIZED STICKER  BACK WINDOW          1
UNINSPECTED MOTOR VEHICLE EXP 05/12 RED STCKR              1
UNSAT TRAILER TIRE AXL 5 LFT I/S DUAL                      1
PASS REAR STOP LAMP OUT                                    1
O/S FLAT TIRE AXLE 3 - HAZMAT                              1
Name: violation, Length: 340622, dtype: int64

In [22]:
df[df.vehicle_type=='1 - passenger'].vehicle_color.value_counts()

gy - grey          1908770
bk - black         1374495
wh - white          907970
bl - blue           830441
rd - red            672824
gr - green          435451
tn - tan            277799
gl - gold           105442
mr - maroon          87005
br- brown            77606
or - orange          26207
yw - yellow          25086
pr - purple          19904
mc - multicolor       1346
pk - pink              706
Name: vehicle_color, dtype: int64

In [23]:
df[df.vehicle_type=='p - pick-up truck'].vehicle_color.value_counts()

bk - black         98729
gy - grey          87384
wh - white         86258
rd - red           83832
bl - blue          67512
gr - green         41671
tn - tan           12407
mr - maroon         8356
br- brown           5344
gl - gold           2919
yw - yellow         2366
or - orange         1790
pr - purple         1197
mc - multicolor      544
pk - pink             99
Name: vehicle_color, dtype: int64